.git
.gitignore
.DS_Store
.env
.env.*
!.env.example

node_modules
npm-debug.log
yarn-error.log

vendor
!vendor/composer/autoload_classmap.php
!vendor/composer/autoload_static.php

storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/views/*
storage/framework/sessions/*
!storage/framework/views/.gitkeep

bootstrap/cache/*
!bootstrap/cache/.gitkeep

.phpunit.cache
.phpunit.result.cache

*.sqlite
*.sqlite3

tests
.editorconfig
.phpunit.xml

*.md
LICENSE

.claude